@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
:root{
  --color-text: #616161;
  --color-text-btn: #ffffff;
  --card1-gradient-color1: #f12711;
  --card1-gradient-color2: #f5af19;
  --card2-gradient-color1: #7F00FF;
  --card2-gradient-color2: #E100FF;
  --card3-gradient-color1: #3f2b96;
  --card3-gradient-color2: #a8c0ff;
  --card4-gradient-color1: #11998e;
  --card4-gradient-color2: #38ef7d;
}

.btn-logout{
    color: white!important;
    border: 1px solid white!important;
}

.card-container .card-wrap{
    width: 100%;
    background: #fff;
    border-radius: 20px;
    border: 5px solid #fff;
    overflow: hidden;
    color: var(--color-text);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }
  .card-container .card-wrap:hover{
    transform: scale(1.1);
  }
  .card-container .card-head{
    height: 200px;
    width: 100%;
    background: red;
    border-radius:100% 0% 100% 0% / 0% 50% 50% 100%!important;
    display: grid;
    place-items: center;
  }
  
  .card-container .card-head {
    color: #fff;
    font-size: 72px ;
  }
  .card-container .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
  }
  .card-container .card-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    
  }
  .card-container .card-text{
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .card-container .card-btn{
    text-decoration: none;
    border: none;
    border-radius: 100px;
    padding: 5px 30px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .card-container .card-head.one{
    background: linear-gradient(to bottom left, var(--card1-gradient-color1), var(--card1-gradient-color2));
  }
  .card-container .card-head.two{
    background: linear-gradient(to bottom left, var(--card2-gradient-color1), var(--card2-gradient-color2));
  }
  .card-container .card-head.three{
    background: linear-gradient(to bottom left, var(--card3-gradient-color1), var(--card3-gradient-color2));
  }
  .card-container .card-head.four{
    background: linear-gradient(to bottom left, var(--card4-gradient-color1), var(--card4-gradient-color2));
  }
  
  .card-container .card-btn.one{
    background: linear-gradient(to left, var(--card1-gradient-color1), var(--card1-gradient-color2));
  }
  .card-container .card-btn.two{
    background: linear-gradient(to left, var(--card2-gradient-color1), var(--card2-gradient-color2));
  }
  .card-container .card-btn.three{
    background: linear-gradient(to left, var(--card3-gradient-color1), var(--card3-gradient-color2));
  }
  .card-container .card-btn.four{
    background: linear-gradient(to left, var(--card4-gradient-color1), var(--card4-gradient-color2));
  }

  .header-avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
    background: rgb(196, 196, 196);
    display: grid;
    place-items: center;
    text-transform: uppercase;
  }

 