#exampleModal.show{animation: 0.8s ease-out 0s 1 fadein;}
@keyframes fadein {
    from { margin-top: -100%;}
    to   { margin-top: 0%;}
}

#exampleModal.exit{animation: 1.5s ease-out 0s 1 fadeout;}
@keyframes fadeout {
    from { opacity: 1;}
    to   { opacity: 0; margin-top: -60%;}
}

.pointer{
    cursor: pointer;
}

#exampleModal .close{
    font-size: 34px;
    line-height: 20px;
}

@keyframes scale-in {
    0% { transform: scale(0);}
    100%   { transform: scale(1);}
}
#exampleModal form {
    animation-name: scale-in;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}


