#exampleModal.show{animation: 1s ease-out 0s 1 fadein;}
@keyframes fadein {
    from { margin-top: -100%;}
    to   { margin-top: 0%;}
}

#exampleModal.exit{animation: 1s ease-out 0s 1 fadeout;}
@keyframes fadeout {
    from { opacity: 1;}
    to   { opacity: 0;}
}